@model LinkedList<Entidad.Bodega>

@{
    ViewBag.Title = "listaBodega";
    Layout = "~/Views/Layauts/BarraNavegacion.cshtml";
}

<h2>Bodegas</h2>

<div class="card">
    <table class="striped">
        <tr>
            <th>idBodega</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idBodega</td>
                <td>@item.nombreBodega</td>
                <td>@item.descripcion</td>
                <td>@item.direccionFisica</td>
                <td>
                    <a href="#" title="Mostrar Pasillos" id="btnMostrar"
                       data-idbodega="@item.idBodega">
                        <i class="material-icons red-text">
                            @Html.ActionLink("remove_red_eye", "listaPasillos", new { idBodega = item.idBodega }, new { @class = "green-text", @title="Mostrar Pasillos" })
                        </i>
                    </a>
                    
                </td>
            </tr>
        }
    </table>
</div>